*.db
*.mp3
*.mp4
*.wma
*.wav
*.edtz
**/node_modules/
**/.history/
**/.idea/
**/.trash/
**/.tts/
**/.vscode/
**/.genaiscript/
**/__pycache__/
node_modules/
__pycache__/
.trash/
.tts/
.vscode/
.fileorganizer2000/
.genaiscript/
.history/
.idea/
.reference-map/
.smart-connections/
.obsidian/icons/
.obsidian/plugins/
.obsidian/.history/
.genaiscript/
.fileorganizer2000/
.reference-map/
.smart-connections/
_FileOrganizer2000/
Chats/
proceedings/before sale/plaintiff/evidence/screen-shots/signature-review.pdf
*.wkb
