*.mp4 filter=lfs diff=lfs merge=lfs -text
# *.mp3 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
#*.wma filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/proceedings/before[[:space:]]sale/plaintiff/evidence/audio/op-bak-2024-04-24[[:space:]]-[[:space:]]Copy/231102_0358.WMA filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/proceedings/before[[:space:]]sale/plaintiff/evidence/audio/op-bak-2024-04-24[[:space:]]-[[:space:]]Copy/240301_0405.WMA filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/proceedings/before[[:space:]]sale/plaintiff/evidence/audio/op-bak-2024-04-24[[:space:]]-[[:space:]]Copy/230927_0344.WMA filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/proceedings/before[[:space:]]sale/plaintiff/evidence/audio/op-bak-2024-04-24[[:space:]]-[[:space:]]Copy/231031_0357.WMA filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/proceedings/before[[:space:]]sale/plaintiff/evidence/audio/op-bak-2024-04-24[[:space:]]-[[:space:]]Copy/231003_0348.WMA filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/proceedings/before[[:space:]]sale/plaintiff/evidence/audio/op-bak-2024-04-24[[:space:]]-[[:space:]]Copy/230821_0338.WMA filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/proceedings/before[[:space:]]sale/plaintiff/evidence/audio/op-bak-2024-04-24-big/230930_0347.mp3 filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/proceedings/before[[:space:]]sale/plaintiff/evidence/audio/op-bak-2024-04-24-big/231003_0348.mp3 filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/proceedings/before[[:space:]]sale/plaintiff/evidence/audio/op-bak-2024-04-24-big/231031_0357.mp3 filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/proceedings/before[[:space:]]sale/plaintiff/evidence/audio/op-bak-2024-04-24-big/231102_0358.mp3 filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/proceedings/before[[:space:]]sale/plaintiff/evidence/audio/op-bak-2024-04-24-big/230821_0338.mp3 filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/proceedings/before[[:space:]]sale/plaintiff/evidence/audio/op-bak-2024-04-24-big/230824_0340.mp3 filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/proceedings/before[[:space:]]sale/plaintiff/evidence/audio/op-bak-2024-04-24-big/230927_0344.mp3 filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/proceedings/before[[:space:]]sale/plaintiff/evidence/audio/op-bak-2024-04-24-big/231211_0371.mp3 filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/proceedings/before[[:space:]]sale/plaintiff/evidence/audio/op-bak-2024-04-24-big/231212_0373.mp3 filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/proceedings/before[[:space:]]sale/plaintiff/evidence/audio/op-bak-2024-04-24-big/231213_0374.mp3 filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/proceedings/before[[:space:]]sale/plaintiff/evidence/audio/op-bak-2024-04-24-big/240301_0405.mp3 filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/proceedings/before[[:space:]]sale/plaintiff/evidence/audio/op-bak-2024-04-24-big/240415_0414.mp3 filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/proceedings/before[[:space:]]sale/plaintiff/evidence/audio/240206_0110.wav filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/proceedings/before[[:space:]]sale/plaintiff/evidence/audio/240206_0314.wav filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/proceedings/before[[:space:]]sale/plaintiff/evidence/audio/240206_0343.wav filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/proceedings/before[[:space:]]sale/plaintiff/evidence/screen-shots/signature-review.pdf filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/proceedings/before[[:space:]]sale/plaintiff/research/from[[:space:]]searches/284169195-FHFA-Inspector-General-Complaint-9-28-15.pdf filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/profiles/queries/scrap/db/cache-write[[:space:]]-[[:space:]]Copy.db filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/profiles/queries/scrap/db/cache-write-bak-2024-09-09.db filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/profiles/queries/scrap/db/cache-write-bak-2024-09-19.db filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/profiles/queries/scrap/db/cache-write-bak-2024-09-25-200.db filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/profiles/queries/scrap/db/cache-write-bask-2024-09-24.db filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/profiles/queries/scrap/db/cache-write.db filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/profiles/queries/scrap/db/cache.db filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/profiles/queries/scrap/odd&ends/db-oddsends/cache-2024-08-31.db filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/profiles/queries/scrap/odd&ends/db-oddsends/cache-write-2024-08-31.db filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/profiles/queries/scrap/odd&ends/db-oddsends/dbbak/cache-write[[:space:]]-[[:space:]]2024-08-25.db filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/profiles/queries/scrap/odd&ends/db-oddsends/dbbak/cache-write[[:space:]]-[[:space:]]2024-08-26-1800.db filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/profiles/queries/scrap[[:space:]]-[[:space:]]Copy/db/cache-write.db filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/profiles/queries/scrap[[:space:]]-[[:space:]]Copy/db/cache.db filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/profiles/queries/scrap[[:space:]]-[[:space:]]Copy/odd&ends/db-oddsends/dbbak/cache-write[[:space:]]-[[:space:]]2024-08-25.db filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/profiles/queries/scrap[[:space:]]-[[:space:]]Copy/odd&ends/db-oddsends/dbbak/cache-write[[:space:]]-[[:space:]]2024-08-26-1800.db filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/proceedings/before[[:space:]]sale/plaintiff/evidence/screen-shots/signature-review.pdf filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/proceedings/before[[:space:]]sale/plaintiff/research/from[[:space:]]searches/284169195-FHFA-Inspector-General-Complaint-9-28-15.pdf filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/proceedings/laws-statutes/cfr/CFR-2024-title12-vol9.pdf filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/proceedings/laws-statutes/idaho/Idaho-Statutes-2024-11-23.pdf filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/proceedings/laws-statutes/usc/usc-1-27-2024-11-23.pdf filter=lfs diff=lfs merge=lfs -text
E:/_GIT/obsidian/BoA[[:space:]]timeline/proceedings/laws-statutes/usc/usc-42-54-2024-11-23.pdf filter=lfs diff=lfs merge=lfs -text
